body{

margin:0;
font-family:Arial;
background:#0f172a;
color:white;

}

header{

display:flex;
gap:10px;
padding:15px;
background:#020617;

}

#map{

height:70vh;
width:100%;
background: lightblue;
  
}

.chartBox{

height:300px;
background:white;

}

input,select,button{

padding:8px;
border-radius:8px;
border:none;

}

.light{

background:white;
color:black;

}
